/*MOBILE STYLES*/
@media (max-width: 500px) {
  .box {
    width: 100%;
  }

  /*Buttons styles*/
  .quote-style {
    font-size: 1.88vh;
  }

  .buttons {
    font-size: 13px;
    display: flex;
    margin-right: 5px;
    flex: 0 1 auto;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    &:hover::before {
      top: 0;
      right: 0px;
      width: 11px;
      height: 11px;
    }
  }

  .buttons:last-child {
    margin-right: 0;
  }

  .action-buttons {
    width: 97%;
    align-self: center;
  }

  /*Sans styles*/
  .sans {
    width: 68px;
    height: 92px;
    margin-bottom: 10px;
  }
  /*Stats styles*/
  .stats {
    align-items: center;
    justify-content: center;
    flex: 0 1 auto;
    font-size: 9px;
  }
  .hp-bar {
    padding: 0 50px;
    margin-left: 25px;
    &::before {
      top: 0px;
      font-size: 8px;
      right: 70px;
    }
  }
  .hp-numeric:before {
    top: -1px;
    left: -8px;
    font-size: 8px;
  }
}
