//Variables
$black: #030303;
$yellow: #FFE480;
$orange: #DE541E;
a {
  text-decoration:none;
  color: $orange;
}

body {
  background-color: $black; 
}
/*box styles*/
.box {
  position: relative;
  width: 490px;
  height: 445px;
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 8%;
  box-shadow: 1px -1px 15px -1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.buttons {
  border: 2px solid $orange;
  width: 105px;
  padding: 10px;
  height: 60px;
  cursor: pointer;
  font-weight: bold;
}

