//Variables
$black: #000;
$yellow: #f3db03f1;
$orange: #de541e;

/*General styles*/
a {
  text-decoration: none;
  color: $orange;
}

body {
  background-color: #423e3e;
}

p {
  color: whitesmoke;
  margin: 0;
}
/* img styles */
body img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

/*Box styles*/
.box {
  position: relative;
  width: 600px;
  height: 445px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-family: "Press Start 2P", cursive;
  background-color: $black;
  margin: auto;
  margin-top: 8%;
  box-shadow: 1px -1px 15px -1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

/*ACTION BUTTONS SECTION*/
.action-buttons {
  width: 100%;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*buttons styles*/
.buttons {
  border: 2px solid $orange;
  width: 100px;
  padding: 8px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.5s ease;
  &:hover {
    border-color: $yellow;
    color: $yellow;
  }

  &:hover::before {
    font-family: FontAwesome;
    content: "\f004";
    position: relative;
    width: 100%;
    height: 100%;
    top: -3px;
    right: 6px;
    color: red;
  }
}

/*STATS SECTION*/
.stats {
  width: 100%;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Hp bar styles*/
.hp-bar {
  background-color: $yellow;
  width: 160px;
  height: 100%;
  border: 1px solid $yellow;
  padding: 0 80px;
  margin-left: 50px;
  &::before {
    content: "HP";
    position: relative;
    top: -3px;
    font-size: 9px;
    right: 105px;
    color: whitesmoke;
  }
}

/*Hp numeric styles*/
.hp-numeric {
  padding-left: 17px;
  &::before {
    content: "KR";
    position: relative;
    top: -3px;
    left: -8px;
    font-size: 9px;
  }
}

/*QUOTE BOX SECTION*/
.quote-box {
  border: 5px solid whitesmoke;
  width: 93%;
  height: 125px;
  align-self: center;
  margin-bottom: 5px;
}

/*SANS SECTION*/
.sans {
  width: 100px;
  height: 135px;
  align-self: center;
  margin-bottom: 15px;
  background-image: url("../img/sans.jpg");
  background-size: cover;
  z-index: 20;
}

/*Gaster blasters styles*/
div[class^="gaster-blaster-"] {
  position: absolute;
  width: 115px;
  height: 135px;
  top: -125px;
  background-image: url("../img/gaster-close.png");
  background-size: cover;
  transform: rotate(-222deg);
}

.gaster-blaster-1 {
  left: 9px;
  animation: shoot2 1.3s ease-in-out;
}

.gaster-blaster-2 {
  right: 23px;
  animation: shoot 1.3s ease-in-out;
}

/*Quotes styles*/
.quote-style {
  font-size: 15px;
  line-height: 1.2;
  margin: 10px 0 0 17px;
  &::before {
    content: "*";
    position: relative;
    right: 7px;
  }
}

/*Animation styles*/
.sans-move {
  transition: all 0.5s ease;
  animation: miss 1.5s ease-in-out;
}

/*ANIMATIONS SECTION*/
@keyframes miss {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-200px);
  }
  100% {
    transform: translate(0);
  }
}
/*Gaster blaster animations*/

@keyframes shoot {
  0% {
    top: -222px;
    transform: rotate(-222deg);
  }
  35% {
    top: 7px;
    transform: rotate(32deg);
  }
  50% {
    top: 7px;
  }
  60% {
    top: 7px;
    transform: rotate(32deg);
  }
  90% {
    top: 7px;
    transform: rotate(32deg);
  }
  100% {
    top: -222px;
    transform: rotate(32deg);
  }
}

@keyframes shoot2 {
  0% {
    top: -222px;
    transform: rotate(-222deg);
  }
  35% {
    top: 15px;
    transform: rotate(-36deg);
  }
  50% {
    top: 15px;
  }
  60% {
    top: 15px;
    transform: rotate(-36deg);
  }
  90% {
    top: 15px;
    transform: rotate(-36deg);
  }
  100% {
    top: -222px;
    transform: rotate(-36deg);
  }
}
